body {
    margin: 0px;
    padding: 0px;
    
}

.sector0 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 900px;
    background: url(./foto/pxfuel.jpg) repeat-x;
}

.sector1 {
    margin: -20px 100px;
}

input,
button {
    font-size: 15px;
    margin: 3px 5px;
}

.usersSection {
    font-size: 15px;
    background: lightgray;
    margin: 5px 10px;
    max-width: 1240px;
}
.user-card{
    background: lightyellow;
    margin-bottom: 45px;
}
.scroll-up{
    margin-top: 25px;
}